# Dependencies
node_modules/

# Build outputs
dist/
.output/
.nuxt/
.vite/
coverage/
playwright-report/
test-results/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
pnpm-debug.log*

# IDE
.idea/
.vscode/

# Operating system
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

packs/